/* variables */
$container-width : 750px;
$container-height : 300px;
$margin-bottom : 30px;
$grid-gap : .4rem;
/* Grid Columns */
$col1_w : 100px;
$col2_w : 2fr;
$col3_w : 1fr;
/* Grid Rows */
$row1_h : 40px;
$row2_h : 2fr;
$row3_h : 1fr;
$row4_h : 30px;

/* Basic Layout */
.container-b {
  display: grid;
  width: $container-width;
  height: $container-height;
  grid-gap: $grid-gap;
  margin-bottom: $margin-bottom;
  grid-template-columns: $col1_w $col2_w $col3_w;
  grid-template-rows: $row1_h $row2_h $row3_h $row4_h;

  .header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }

  .sidebar {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .content-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
  }

  .content-2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .content-3 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  .footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }
}

/* Template Areas */
.container-a {
  display: grid;
  width: $container-width;
  height: $container-height;
  grid-gap: $grid-gap;
  margin-bottom: $margin-bottom;
  grid-template-columns: $col1_w $col2_w $col3_w;
  grid-template-rows: $row1_h $row2_h $row3_h $row4_h;
  grid-template-areas:
    "header header header"
    "sidebar content-1 content-1"
    "sidebar content-2 content-3"
    "footer footer footer";

  .header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content-1 {
    grid-area: content-1;
  }

  .content-2 {
    grid-area: content-2;
  }

  .content-3 {
    grid-area: content-3;
  }

  .footer {
    grid-area: footer;
  }
}

/* Named Lines - try to change the layout */
.container {
  display: grid;
  width: $container-width;
  height: $container-height;
  grid-gap: $grid-gap;
  grid-template-columns:
    [m-st cnt-st] $col1_w * 2
    [col2-st] $col2_w
    [col3-st cnt-ed sb-st] $col3_w
    [m-ed sb-ed];
  grid-template-rows:
    [row1-st] $row1_h * 1.5
    [row2-st] $row2_h
    [row3-st] $row3_h
    [row4-st] $row4_h * 1.5
    [row4-ed];

  .header {
    grid-column: m-st / m-ed;
    grid-row: row1-st / row2-st;
  }

  .sidebar {
    grid-column: sb-st / sb-ed;
    grid-row: row2-st / row4-st;
  }

  .content-1 {
    grid-column: cnt-st / cnt-ed;
    grid-row: row2-st / row3-st;
  }

  .content-2 {
    grid-column: cnt-st / col2-st;
    grid-row: row3-st / row4-st;
  }

  .content-3 {
    grid-column: col2-st / cnt-ed;
    grid-row: row3-st / row4-st;
  }

  .footer {
    grid-column: m-st / m-ed;
    grid-row: row4-st / row4-ed;
  }
}


/* Decorative Styles */
body {
  background-color: #3b404e;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  align-items: center;
}

.item {
  background-color: #1EAAFC;
  background-image: linear-gradient(13-deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #ffffff;
  border-radius: 5px;
  border: 6px solid #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  
  .title {
    font-family: "Times New Roman", Times, serif;
    margin-left: 10px;
    color: black;
  }

  .code {
    font-family: Lucida Console, Courier, monospace;
    font-size: .8em;
    margin-left: 10px;
    color: black;
  }
}

.container .item {
  border-radius: 50px;
  border: 3px solid #353535;
}

.container-b .item {
  border-radius: 25px;
  border: 3px dotted #553322;
}

.header {
  background-color: #1EAAFC;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

.container .header {
  background-image: linear-gradient(160deg, #8B0000 0%, #FFC0CB 127%);
}

.sidebar {
  background-image: linear-gradient(230deg, #3EDFD7 0%, #29A49D 90%);
}

.content-1,
.content-2,
.content-3 {
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
}

.footer {
  background-color: #6C52D9;
  background-image: linear-gradient(230deg, #3EDFD7 0%, #29A49D 90%);
}

@media (max-width: $container-width) {
  .container-b, .container-a, .container {
    width: $container-width / 2;
  }
}
